

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.countdown-container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.clock-item .inner {
	height: 0px;
	
	padding-bottom: 55%;
	position: relative;	
	width: 30%;

}

.clock-canvas {
	
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #757575;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}

.text .val {
	font-size: 25px;
}

.type-time {
	font-size: 15px;
	padding-left:7px;
	padding-top:10px;

}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}