<html>
{% extends "base.html" %}
{%load staticfiles %}
{%block content %}
<div id="main">
<div class="content" style="padding-left:400px">
<br>
<span style="font-size:40px;margin-left:100px;">CONTACT US</span><br><br><br><br>
<p align="center" style="margin-left:-7%;width:600px;font-size:20px">
Feel free to email us to provide some feedback, give us suggestions, or to just say hello!
</p><br><br>
<p align="center" style="margin-left:-7%;width:600px;font-size:20px">
support@examspirit.com
</p>
<br><br><br><br><br><br><br>
<p align="center" style="margin-left:-7%;width:600px;font-size:20px">
Copyright © Exam Spirit
</p><br>
</div>
</div>
</div>
{%endblock%}

</html>