<html>
{%extends 'base.html' %} {%load staticfiles %} {%block content %}
<div class="col-sm-12">
    <div style="margin-left:-1%">
        <div style="width:102%;background:#ffffff;height:10%;border-bottom:1px #cccccc solid;margin-top:-1%;">
            <div style="font-size:20px;padding-left:25px;padding-top:20px">Dashboard</div>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist" style="background:#ffffff;width:102%">
                <li role="presentation" class="active" style="background:#ffffff;"><a href="#ongoing" aria-controls="ongoing" role="tab" data-toggle="tab">ONGOING</a></li>
                <li role="presentation"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">UPCOMING</a></li>
                <li role="presentation"><a href="#previous" aria-controls="previous" role="tab" data-toggle="tab">PREVIOUS</a></li>
                {% if t_given %}
                <li role="presentation"><a href="#testsgiven" aria-controls="testsgiven" role="tab" data-toggle="tab">TESTS GIVEN</a></li>
                {%endif%}
                {% if saved %}
                <li role="presentation"><a href="#saved" aria-controls="saved" role="tab" data-toggle="tab">SAVED</a></li>
                {%endif%}
            </ul>
            <div class="tab-content" style="height:380px;">
                <div role="tabpanel" class="tab-pane fade in active" id="ongoing" style="background:#f8f8f8;height:57%;">
                    <br>
                    <br>
                    <div class="row" style="margin-left:20px;">
                        {% if not ongoing %}
                        <div style="background:#ffffff;height:50px;padding-top:1.2%;padding-left:3%;box-shadow: 2px 2px 1px #cccccc;border-top:1px solid #cccccc;width:20%;border-left:1px solid #cccccc">There are no ongoing tests</div>
                        {%endif%} {% for i in ongoing %}
                        <div class="col-sm-3" style="width:200px;border-left:1px solid #cccccc;box-shadow: 2px 5px 1px #cccccc;margin-left:30px;background:#ffffff;">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100" width="116.5%" style="margin-left:-8%">
                            <div style="width:118%;margin-top:-5%;background:#E8E8E8;border-bottom:1px solid #cccccc;height:19%;margin-left:-9%;">
                                <p style="margin-top:5%;padding-top:3%;font-size:20px;text-align: center;">{{i.test.t_name}}</p>
                            </div>
                            <div style="padding-top:5%;font-size:20px;text-align: center;" class="row">{{i.p_name|slice:"15"}}</div>
                            <div class="row" style="text-align: center;">
                                <span style="font-size:13px;color:#a4a4a5;">Ends at :</span></div>
                            <div style="margin-left:s5%;padding-top:1%;font-size:20px;text-align:center;">{{i.e_time}}
                                <br> {{i.e_date}}</div>
                            <div><span style="margin-left:20%;margin-top:1%;font-size:13px;color:#a4a4a5;">duration :{{i.duration}} </span></div>
                            <br>
                            <a href="/{{i.test}}/inst/{{i.p_id}}/" style="margin-left:20%;">
                                <button style="margin-top:-7%;" class="btn btn-default">START NOW</button>
                            </a>
                            <br>
                            <br>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="upcoming">
                    <br>
                    <br>
                    <div class="row" style="margin-left:20px;">
                        {% if not upcoming %}
                        <div style="background:#ffffff;height:50px;padding-top:1.2%;padding-left:3%;box-shadow: 2px 2px 1px #cccccc;border-top:1px solid #cccccc;width:20%;border-left:1px solid #cccccc">There are no upcoming tests</div>
                        {%endif%} {% for i in upcoming %}
                        <div class="col-sm-3" style="width:200px;border-left:1px solid #cccccc;box-shadow: 2px 5px 1px #cccccc;margin-left:30px;background:#ffffff;">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100" width="116.5%" style="margin-left:-8%">
                            <div style="width:118%;background:#E8E8E8;border-bottom:1px solid #cccccc;height:10%;margin-left:-9%;">
                                <p style="text-align: center;padding-top:3%;font-size:20px;">{{i.test.t_name}}</p>
                            </div>
                            <div style="text-align: center;padding-top:3%;font-size:20px;">{{i.p_name|slice:"15"}}</div>
                            <p style="text-align: center;margin-top:1%;font-size:13px;color:#a4a4a5;">starts at :</p>
                            <p style="text-align: center;font-size:20px;">{{i.s_time}}</p>
                            <div><span style="margin-left:20%;margin-top:1%;font-size:13px;color:#a4a4a5;">duration :{{i.duration}} </span></div>
                            <br>
                            <p style="margin-top:-5%;font-size:18px;margin-left:35px;">{{i.s_date}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="previous">
                    <br>
                    <br>
                    <div class="row" style="margin-left:20px;">
                        {% if not previous %}
                        <div style="background:#ffffff;height:50px;padding-top:1.2%;padding-left:3%;box-shadow: 2px 2px 1px #cccccc;border-top:1px solid #cccccc;width:20%;border-left:1px solid #cccccc">There are no previous tests</div>
                        {%endif%} {% for i in previous %}
                        <div class="col-sm-3" style="width:200px;border-left:1px solid #cccccc;box-shadow: 2px 5px 1px #cccccc;margin-left:30px;background:#ffffff;">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100" width="116.5%" style="margin-left:-8%">
                            <div style="width:118%;margin-top:-5%;background:#E8E8E8;border-bottom:1px solid #cccccc;height:10%;margin-left:-9%;">
                                <p style="text-align: center;margin-top:5%;padding-top:3%;font-size:20px;">{{i.test.t_name}}</p>
                            </div>
                            <div style="text-align: center;padding-top:3%;font-size:20px;">{{i.p_name|slice:"15"}}</div>
                            <p style="text-align: center;margin-top:1%;font-size:13px;color:#a4a4a5;">ended on :</p>
                            <div style="text-align: center;font-size:20px;">{{i.e_date}}</div>
                            <div><span style="margin-left:20%;margin-top:1%;font-size:13px;color:#a4a4a5;">duration :{{i.duration}} </span></div>
                            <br>
                            <p style="margin-top:-5%;font-size:18px;margin-left:35px;">{{i.date}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="testsgiven" style="background:#f8f8f8;height:57%;">
                    <br>
                    <br>
                    <div class="row" style="margin-left:20px;">
                        {% for i in t_given %}
                        <div class="col-sm-3" style="width:200px;border-left:1px solid #cccccc;box-shadow: 2px 5px 1px #cccccc;margin-left:30px;background:#ffffff;">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100" width="116.5%" style="margin-left:-8%">
                            <div style="width:118%;margin-top:-5%;background:#E8E8E8;border-bottom:1px solid #cccccc;height:19%;margin-left:-9%;">
                                <p style="margin-top:5%;padding-top:3%;font-size:20px;text-align: center;">{{i.test.t_name}}</p>
                            </div>
                            <div style="padding-top:5%;font-size:20px;text-align: center;" class="row">{{i.p_name|slice:"15"}}</div>
                            <div class="row" style="text-align: center;">
                                <span style="font-size:13px;color:#a4a4a5;">ended on :</span></div>
                            <div style="margin-left:25%;padding-top:1%;font-size:20px;">{{i.e_date}}</div>
                            <div><span style="margin-left:20%;margin-top:1%;font-size:13px;color:#a4a4a5;">duration :{{i.duration}} </span></div>
                            <br>
                            <a href="/result/{{i.p_id}}/" style="margin-left:10%;">
                                <button style="margin-top:-7%;" class="btn btn-default">VIEW RESULTS</button>
                            </a>
                            <br>
                            <br>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="saved" style="background:#f8f8f8;height:57%;">
                    <br>
                    <br>
                    <div class="row" style="margin-left:20px;">
                        {% for i in saved %}
                        <div class="col-sm-3" style="width:200px;border-left:1px solid #cccccc;box-shadow: 2px 5px 1px #cccccc;margin-left:30px;background:#ffffff;">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100" width="116.5%" style="margin-left:-8%">
                            <div style="width:118%;margin-top:-5%;background:#E8E8E8;border-bottom:1px solid #cccccc;height:19%;margin-left:-9%;">
                                <p style="margin-top:5%;padding-top:3%;font-size:20px;text-align: center;">{{i.test.t_name}}</p>
                            </div>
                            <div style="padding-top:5%;font-size:20px;text-align: center;" class="row">{{i.p_name|slice:"15"}}</div>
                            <div class="row" style="text-align: center;">
                                <span style="font-size:13px;color:#a4a4a5;">ending on :</span></div>
                            <div style="margin-left:7%;padding-top:1%;text-align:center;font-size:20px;">{{i.e_date}} {{i.e_time}}</div>
                            
                            <br>
                            <a href="/{{i.test}}/inst/{{i.p_id}}/" style="margin-left:23%;">
                                <button style="margin-top:-7%;" class="btn btn-default">Continue</button>
                            </a>
                            <br>
                            <br>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}

</html>
