<html>
{% extends "base.html" %}
{%load staticfiles %}
{%block content %}
<div id="main" style="background:url("img/")>
<div class="content" style="padding-left:400px">
<br>
<span style="font-size:40px;margin-left:100px;">OUR PARTNERS</span><Br><br>
<p align="center" style="margin-left:-7%;width:600px;font-size:35px">
We are aiming for a pan India network for all the competitive examination. We have already collaborated with some of the premier institutes. 
</p>
<p align="center" style="margin-left:-7%;width:600px;font-size:20px">Want to join us in our mission, email us at</p>
<p align="center" style="margin-left:-7%;width:600px;font-size:35px">support@examspirit.com</p>
<br><br><br>
</div>
</div>

{%endblock%}
</html>